body {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

i a:link {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 0px 0px 0px 10px;
}

#nav-right {
    width: 7rem;
    display: inline-block;
}


main {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

#body-title {
    text-align:center ;
}

#nav-right i a {
	color: white;
	text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.55);
}

@media (max-width: 868px) {
    body {
        max-width: 720px;
    }

}

@media (max-width: 576px) {
    body {
        max-width: 540px;
    }
}