body {
  font-family: "Open Sans", Helvetica, sans-serif;
  background: #eee;
  padding-bottom: 60px;
  /* This is just a helper in case the element has a transparent background or white colors. */
}

.material-icons{
  text-decoration: none;
}

.page-heading {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #231f20;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-size: auto;
  box-sizing: border-box;
  color: #fff;
  padding: 45px 0 50px;
}

#main {
  font-family: "Baloo2", "Helvetica", sans-serif;
  text-align: center;
  font-size: 5em;
}

div.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}


.manage:hover {
  background-color: #fff;
  color: #333;
}

.save:hover {
  background-color: #fff;
  color: #333;
}

#user-img>button:hover {
  background-color: #fff;
  color: #333;
}

.closeBtn:hover {
  background-color: #fff;
  color: #333;
}


@media screen and (min-width:701px) {
  .profile_container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 70% 40%;
    margin-top: 3%;
  }

  #user-img {
    display: grid;
    grid-column: 1;
    margin: 9% 20% 0 20%;
  }

  #user-img>img {
    width: 40%;
    height: auto;
    margin-left: 30%;

  }

  #user-img>h6 {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    margin-top: 3%;
    font-size: 2em;
  }

  #user-img>button {
    margin: 7% 32% 0 32%;
  }

  form {
    display: grid;
    grid-column: 2;
    margin-right: 30%;
    font-size: 1.3em;
  }

  .form-control {
    margin-top: 10px;
  }

  label {
    margin-top: 20px;
  }
  .manage {
    border: 2px solid #333;
    background: #333;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    position: absolute;
    left: 52%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top:1%;
  }

  .save {
    border: 2px solid #333;
    background: #FFCC00;
    border-radius: 0;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    position: absolute;
    left: 70%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-left: 60px;
    padding-right: 60px;
    margin-top:1%;
  }

  #user-img>button {
    border: 2px solid #333;
    background: #333;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0 5px 0;
  }
  .closeBtn{
    border: 2px solid #333;
    background: #333;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-right:40%;
  }


}

@media screen and (max-width:700px) {
  .profile_container {
    display: grid;
    grid-template-rows: 49% 80%;
  }

  #user-img {
    margin: 5% 20% 0 20%;
  }

  #user-img>img {
    display: grid;
    grid-row: 1;
    width: 40%;
    height: auto;
    margin-left: 30%;

  }

  #user-img>h6 {
    text-align: center;
    font-size: 2em;
    margin-top: 5%;
  }

  #user-img>button {
    margin: 5% 0 0 32%;
  }

  form {
    display: grid;
    grid-row: 2;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.3em;
  }

  .form-control {
    margin-top: 10px;
  }

  label {
    margin-top: 20px;
  }
  .manage {
    border: 2px solid #333;
    background: #333;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    position: absolute;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top:-10%;
  }

  .save {
    border: 2px solid #333;
    background: #FFCC00;
    border-radius: 0;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    position: absolute;
    left: 65%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-left: 60px;
    padding-right: 60px;
    margin-top:-10%;
  }

  #user-img>button {
    border: 2px solid #333;
    background: #333;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
  }
  .closeBtn{
    border: 2px solid #333;
    background: #333;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-right:40%;
  }

}